<div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 product-index-container">
        <h1>商品一覧</h1>
        <table class="table">
          <tr>
            <th>商品名</th>
            <th>価格</th>
          </tr>
          <% @products.each do |product| %>
          <tr>
            <th>
              <%= link_to product.name, product_path(product.id) %>
            </th>
            <th>
              <%= product.price %>
            </th>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>